<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="header" class="administrator_header">
    <div class="header_menu">
        <ul class="header_menu_list">
            <li><a th:href="@{/owner/add_employee}">сотрудники</a></li>
            <li><a th:href="@{/owner/add_supplier}">поставщики</a></li>
            <li><a th:href="@{/owner/procedures}">процедуры</a></li>
            <li><a th:href="@{/owner/add_medication}">медикаменты</a></li>
            <li><a th:href="@{/owner/medication_storage}">Склад</a></li>
            <li><a th:href="@{/owner/cages}">клетки</a></li>
            <li><a th:href="@{/owner/users}">пользователи</a></li>
        </ul>
    </div>
</div>
</body>
</html>