<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Записи на прием</title>
    <div th:insert="~{common/head.html :: head}"></div>
</head>
<body>
<div class="wrapper">
    <div th:insert="~{common/vet_header.html :: header}"></div>
    <section class="body">
        <div class="container">
            <h1>Список приемов</h1>
            <table class="table">
                <thead>
                <th>Кличка</th>
                <th>Вид</th>
                <th>Время приема</th>
                <th></th>
                </thead>
                <tbody>
                <tr th:each="appointment : ${appointments}">
                    <a target="_blank" th:href="@{/animal/appointment.animal.id}"></a>
                    <td th:text="${appointment.animal.name}"></td>
                    <td th:text="${appointment.appointmentDate} + ' ' + ${appointment.getFormattedTime()}"></td>
                    <td><a th:href="@{/vet/} + ${appointment.id}"><button class="custom-btn">Начать прием</button></a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
    <div th:insert="~{common/footer.html :: footer}"></div>
</div>
</body>
</html>