<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cages</title>
    <link th:href="@{/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/common.css}" rel="stylesheet">
    <script th:src="@{/js/jquery.min.js}" type="text/javascript"></script>
</head>
<body>
<div class="wrapper">
    <div th:insert="~{common/inpatient_header.html :: header}"></div>
    <section class="body">
        <div class="container">
            <h1>Занятые клетки</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>Имя животного</th>
                        <th>Размер клетки</th>
                        <th>Дата прибытия</th>
                        <th>Время последней уборки</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="inpatient : ${inpatients}">
                        <td th:text="${inpatient.animal.name}"></td>
                        <td th:text="${inpatient.cage.cageSize.size}"></td>
                        <td th:text="${inpatient.dateOfArrival}"></td>
                        <td th:id="'clean_time_' + ${inpatient.cage.id}" th:text="${inpatient.cage.getFormattedDateTime()}"></td>
                        <td><button class="btn clean_btn" th:attr="data-id=${inpatient.cage.id}">Клетка убрана</button></td>
                        <td><a th:href="@{/inpatient/add_procedure/} + ${inpatient.id}">
                            <button class="btn procedure_btn">Новая процедура</button>
                        </a></td>
                        <form th:action="@{/inpatient/discharge/} + ${inpatient.id}" method="post">
                            <td><button class="btn" type="submit">Животное выписано</button></td>
                        </form>
                    </tr>
                </tbody>
            </table>

            <h1>Свободные клетки</h1>
            <table class="table">
                <thead>
                <tr>
                    <th>Размер клетки</th>
                    <th>Дата прибытия</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="freeCage : ${freeCages}">
                    <td th:text="${freeCage.cageSize.size}"></td>
                    <td th:id="'clean_time_' + ${freeCage.id}" th:text="${freeCage.getFormattedDateTime()}"></td>
                    <td><button class="btn clean_btn" th:attr="data-id=${freeCage.id}">Клетка убрана</button></td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
    <div th:insert="~{common/footer.html :: footer}"></div>
</div>
<script th:src="@{/js/inpatient.js}" type="text/javascript"></script>
</body>
</html>
