<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/common.css}" rel="stylesheet">
    <title>Ресепшн</title>
</head>
<body>
<header>

</header>
<div th:insert="~{common/administrator_header.html :: administrator_header}"></div>
<section class="body">
    <h1 class="head">Test header</h1>
</section>
<div th:insert="~{common/footer.html :: footer}"></div>
</body>
</html>