<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Животные</title>
    <div th:insert="~{common/head.html :: head}"></div>
</head>
<body>
<div class="wrapper">
    <div th:insert="~{common/administrator_header.html :: administrator_header}"></div>
    <section class="body">
        <h1>Добавление животного</h1>
        <div class="add_form">
            <form id="new-animal-form" method="post">
                <div class="form-section">
                    <label>Кличка</label>
                    <input type="text" class="form-control" id="name" name="name" required>
                </div>
                <div class="form-section">
                    <label>Вид</label>
                    <select name="kind" class="form-control">
                        <option th:each="kind : ${kinds}"
                            th:value="${kind.id}" th:text="${kind.name}">
                        </option>
                    </select>
                </div>
                <div class="form-section">
                    <label>Порода</label>
                    <input type="text" class="form-control" id="breed" name="breed" required>
                </div>
                <div class="form-section">
                    <label>Дата рождения</label>
                    <input type="date" class="form-control" id="birthday" name="birthday" required>
                </div>
                <div class="form-section">
                    <label>Владелец</label>
                    <select class="form-control" id="client" name="client" data-live-search="true"
                        data-none-selected-text="Ничего не выбрано">
                        <option th:each="client : ${clients}" th:value="${client.id}"
                                th:text="${client.surname} + ' ' + ${client.firstName}"></option>
                    </select>
                </div>
                <div class="form-section">
                    <input type="submit" class="custom-btn" value="Добавить">
                </div>
            </form>
        </div>

        <h2>Список животных</h2>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Кличка</th>
                <th>Вид</th>
                <th>Порода</th>
                <th>Дата рождения</th>
                <th>Владелец</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="animal : ${animals}">
                <form class="animal-update-form" th:attr="data-id=${animal.id}">
                    <td><input type="text" th:value="${animal.name}" class="form-control" th:id="'name_' + ${animal.id}" required /></td>
                    <td>
                        <select class="form-control" th:id="'kind_' + ${animal.id}">
                            <option th:each="kind : ${kinds}"
                                    th:value="${kind.id}" th:text="${kind.name}"
                                    th:selected="${animal.kind.id == kind.id}">
                            </option>
                        </select>
                    </td>
                    <td><input type="text" th:value="${animal.breed}" class="form-control" th:id="'breed_' + ${animal.id}" required /></td>
                    <td><input type="date" th:value="${animal.birthday}" class="form-control" th:id="'birthday_' + ${animal.id}" required /></td>
                    <td>
                        <select class="form-control" th:id="'client_' + ${animal.id}" data-live-search="true">
                            <option th:each="client : ${clients}" th:value="${client.id}"
                                    th:text="${client.surname} + ' ' + ${client.firstName}" th:selected="${client.id == animal.client.id}"></option>
                        </select>
                    </td>
                    <td>
                        <button type="button" class="custom-btn update_btn" th:attr="data-id=${animal.id}">Обновить</button>
                    </td>
                </form>
            </tr>
            </tbody>
        </table>
    </section>
    <div th:insert="~{common/footer.html :: footer}"></div>
</div>
<script th:src="@{/js/animals.js}" type="text/javascript"></script>
</body>
</html>
