<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавить поставщика</title>
    <link th:href="@{/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/common.css}" rel="stylesheet">
</head>
<body>
<div class="wrapper">

    <div th:insert="~{common/owner_header.html :: header}"></div>
    <section class="body">
        <div class="add_form">
            <h1>Добавить поставщика</h1>
            <form th:action="@{/owner/add_supplier}" th:object="${supplier}" method="post">
                <div class="form-section">
                    <label>название</label>
                    <input type="text" class="form-control" th:field="*{name}">
                </div>
                <div class="form-section">
                    <label>номер телефона</label>
                    <input type="text" class="form-control" th:field="*{phoneNumber}">
                </div>
                <div class="form-section">
                    <label>email</label>
                    <input type="text" class="form-control" th:field="*{email}">
                </div>
                <div class="form-section">
                    <input type="submit" class="btn" value="добавить">
                </div>
            </form>
        </div>
    </section>
    <div th:insert="~{common/footer.html :: footer}"></div>
</div>
</body>
</html>