<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавить врача</title>
    <link th:href="@{/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/common.css}" rel="stylesheet">
</head>
<body>
<div class="wrapper">
    <div th:insert="~{common/owner_header.html :: header}"></div>
    <section class="body">
        <div class="add_form">
            <h1>Добавить сотрудника</h1>
            <form th:action="@{/owner/add_employee}" th:object="${employee}" method="post">
                <div class="form-section">
                    <label>имя</label>
                    <input type="text" class="form-control" th:field="*{firstName}" placeholder="Иван" required>
                </div>
                <div class="form-section">
                    <label>фамилия</label>
                    <input type="text" class="form-control" th:field="*{surname}" placeholder="Иванов" required>
                </div>
                <div class="form-section">
                    <label>отчество</label>
                    <input type="text" class="form-control" th:field="*{middleName}" placeholder="Иванович">
                </div>
                <div class="form-section">
                    <label>должность</label>
                    <select th:field="*{job}" class="form-control">
                        <option th:each="job : ${T(dev.university.degree.util.Job).values()}"
                                th:value="${job}" th:text="${job.getName()}"></option>
                    </select>
                </div>
                <div class="form-section">
                    <label>Логин</label>
                    <input type="text" class="form-control" name="login" placeholder="Логин">
                </div>
                <div class="form-section">
                    <label>Пароль</label>
                    <input type="text" class="form-control" name="password" placeholder="Пароль">
                </div>
                <div class="form-section">
                    <input type="submit" class="btn" value="добавить">
                </div>
            </form>
            <h2>Список сотрудников</h2>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Имя</th>
                    <th>Фамилия</th>
                    <th>Отчество</th>
                    <th>Должность</th>
                    <th>Дата начала работы</th>
                    <th>Дата увольнения</th>
                    <th>Статус</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="employee : ${employees}">
                    <td th:text="${employee.firstName}"></td>
                    <td th:text="${employee.surname}"></td>
                    <td th:text="${employee.middleName}"></td>
                    <td th:text="${employee.job.getName()}"></td>
                    <td th:text="${employee.jobStart}"></td>
                    <td th:text="${employee.timeQuited != null ? employee.timeQuited : 'Работает'}"></td>
                    <td th:text="${employee.status}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
    <div th:insert="~{common/footer.html :: footer}"></div>
</div>
</body>
</html>