<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавить врача</title>
    <link th:href="@{/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/common.css}" rel="stylesheet">
</head>
<body>
<div class="wrapper">
    <div th:insert="~{common/owner_header.html :: header}"></div>
    <section class="body">
        <div class="add_form">
            <h1>Добавить работника</h1>
            <form th:action="@{/owner/add_employee}" th:object="${employee}" method="post">
                <div class="form-section">
                    <label>имя</label>
                    <input type="text" class="form-control" th:field="*{firstName}" placeholder="Иван">
                </div>
                <div class="form-section">
                    <label>фамилия</label>
                    <input type="text" class="form-control" th:field="*{surname}" placeholder="Иванов">
                </div>
                <div class="form-section">
                    <label>отчество</label>
                    <input type="text" class="form-control" th:field="*{middleName}" placeholder="Иванович">
                </div>
                <div class="form-section">
                    <label>должность</label>
                    <select th:field="*{job}" class="form-control">
                        <option th:each="job : ${T(dev.university.degree.util.Job).values()}"
                                th:value="${job}" th:text="${job.getName()}"></option>
                    </select>
                </div>
                <div class="form-section">
                    <input type="submit" class="btn" value="добавить">
                </div>
            </form>
        </div>
    </section>
    <div th:insert="~{common/footer.html :: footer}"></div>
</div>
</body>
</html>