<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Медикаменты</title>
    <div th:insert="~{common/head.html :: head}"></div>
</head>
<body>
<div class="wrapper">
    <div th:insert="~{common/owner_header.html :: header}"></div>
    <section class="body">
        <h1>Медикаменты</h1>
        <div class="body-item">
            <h2>Добавить</h2>
            <form class="form" id="new-medication-form" method="post">
                <div class="form-section">
                    <label>Название медикамента</label>
                    <input type="text" class="form-control" id="new-medication-name" name="name">
                </div>
                <div class="form-section">
                    <label>Единица измерения</label>
                    <select class="form-control" id="new-medication-unit" name="unit">
                        <option th:each="unit : ${T(dev.university.degree.util.Unit).values()}"
                                th:value="${unit}" th:text="${unit.unitName}"></option>
                    </select>
                </div>
                <input type="submit" class="custom-btn" value="Добавить">
            </form>
        </div>
        <div class="body-item">
            <h2>Список медикаментов</h2>
            <table class="table table-bordered">
                <thead>
                <th>Название</th>
                <th>Единица измерения</th>
                <th></th>
                </thead>
                <tbody>
                <tr th:each="medication : ${medications}">
                    <form class="medication-update-form">
                        <td><input type="text" th:value="${medication.name}" class="form-control" th:id="'medication_name_' + ${medication.id}"></td>
                        <td>
                            <select class="form-control" th:id="'medication_unit_' + ${medication.id}">
                                <option th:each="unit : ${T(dev.university.degree.util.Unit).values()}"
                                        th:value="${unit}" th:text="${unit.unitName}" th:selected="${unit == medication.unit}"></option>
                            </select>
                        </td>
                        <td><button type="button" class="custom-btn update_btn" value="Обновить" th:attr="data-id=${medication.id}">Обновить</button></td>
                    </form>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
    <div th:insert="~{common/footer.html :: footer}"></div>
</div>
<script th:src="@{/js/medications.js}" type="text/javascript"></script>
</body>
</html>
