<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Все поставки</title>
    <div th:insert="~{common/head.html :: head}"></div>
</head>
<body>

<div th:insert="~{common/owner_header.html :: header}"></div>
<section class="body">
    <h1>Все поставки</h1>
    <a th:href="@{/owner/add_supply}"><button class="custom-btn">Новая поставка</button></a>
    <div class="container">
        <table>

        </table>
    </div>
</section>
<div th:insert="~{common/footer.html :: footer}"></div>
</body>
</html>