<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Склад лекарств</title>
  <div th:insert="~{common/head.html :: head}"></div>
</head>
<body>
<div class="wrapper">

  <div th:insert="~{common/owner_header.html :: header}"></div>
  <section class="body">
    <h1>Склад лекарств</h1>
    <a th:href="@{/owner/add_supply}"><button class="custom-btn">Новая поставка</button></a>
    <div class="container">
      <table class="table">
        <thead>
        <tr>
          <th>Лекарство</th>
          <th>Количество</th>
          <th>Цена за поставку</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="medicationStorage : ${medicationStorages}">
          <td th:text="${medicationStorage.medication.name} + ' (' + ${medicationStorage.medication.unit.unitName} + ')'"></td>
          <td th:text="${medicationStorage.amount}"></td>
          <td th:text="${medicationStorage.supplyPrice}"></td>
        </tr>
        </tbody>
      </table>
    </div>

  </section>
  <div th:insert="~{common/footer.html :: footer}"></div>
</div>
</body>
</html>